.base {
  --cnv-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Toast Container */
  --cnv-toast-border-radius: 12px;
  --cnv-toast-min-width: 300px;

  /* Toast Title */
  --cnv-toast-title-font-size: 0.9rem;
  --cnv-toast-title-font-weight: 600;

  /* Toast Description */
  --cnv-toast-text-font-size: 0.9rem;
  --cnv-toast-text-font-weight: 400;

  --cnv-toast-actions-buttons-font-size: 0.8rem;
}

.light {
  composes: base;

  /* Toast Icon */
  --cnv-toast-pending-icon-color: #8d8d8d;
  --cnv-toast-completed-icon-color: #00b300;
  --cnv-toast-failed-icon-color: #ff0000;
  --cnv-toast-stuck-icon-color: #f3c215;

  /* Toast Container */
  --cnv-toast-background-color: #ffffff;
  --cnv-toast-border-color: #e7e7e7;
  --cnv-toast-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);

  /* Toast Title Text */
  --cnv-toast-title-color: #222222;

  /* Toast Description Text */
  --cnv-toast-text-color: #8b8d8e;

  /* Toast Actions */
  --cnv-toast-actions-background: #ffffff;

  --cnv-toast-dismiss-background-hover: #f6f6f6;
  --cnv-toast-dismiss-color: #8d8d8d;
  --cnv-toast-dismiss-color-hover: #666666;

  --cnv-toast-viewInExplorer-background-hover: #e7f0ff;
  --cnv-toast-viewInExplorer-color: #3c8aff;
  --cnv-toast-viewInExplorer-color-hover: #1084ff;
}

.dark {
  composes: base;

  /* Toast Icon */
  --cnv-toast-pending-icon-color: #bfbfbf;
  --cnv-toast-completed-icon-color: #19e319;
  --cnv-toast-failed-icon-color: #f73737;
  --cnv-toast-stuck-icon-color: #f3c215;

  /* Toast Container */
  --cnv-toast-background-color: #1e1e1e;
  --cnv-toast-border-color: #2c2d31;
  --cnv-toast-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);

  /* Toast Title Text */
  --cnv-toast-title-color: #fff;

  /* Toast Description Text */
  --cnv-toast-text-color: #a3a4a5;

  /* Toast Actions */
  --cnv-toast-actions-background: #1e1e1e;

  --cnv-toast-dismiss-color: #bfbfbf;
  --cnv-toast-dismiss-color-hover: #fff;
  --cnv-toast-dismiss-background-hover: #1c1c1c;

  --cnv-toast-viewInExplorer-color: #3293fb;
  --cnv-toast-viewInExplorer-color-hover: #1988ff;
  --cnv-toast-viewInExplorer-background-hover: #20252b;
}
