@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes slideFadeInY {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes slideFadeInX {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
